<!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
      				<div class="container">
      					<div class="banner_content text-center">
      						<div class="page_link">
      							<a href="index.html">Home</a>
      							<a href="blog.html">About</a>
      						</div>
      						<h2>About Us</h2>
      					</div>
      				  </div>
              </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================About Area =================-->
        <section class="about_area p_120">
        	<div class="container">
        		<div class="row about_inner">
        			<div class="col-lg-6">
        				<div class="about_img">
        					<img class="img-fluid" src="assets/img/about-img.jpg" alt="">
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="about_right_text">
        					<h4>Who we are <br />to Serve the nation</h4>
        					<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.</p>
        					<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End About Area =================-->

        <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Our Top Rated Features</h2>
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
        		</div>
        		<div class="row feature_inner">
        			<div class="col-lg-3 col-sm-6">
        				<div class="feature_item">
        					<h4>Unique Design</h4>
        					<p>Most people who work in an office environment, buy computer products, or have a computer at </p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="feature_item">
        					<h4>Appropriate UX</h4>
        					<p>Most people who work in an office environment, buy computer products, or have a computer at </p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="feature_item">
        					<h4>Perfect Visual</h4>
        					<p>Most people who work in an office environment, buy computer products, or have a computer at </p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="feature_item">
        					<h4>Different Layout</h4>
        					<p>Most people who work in an office environment, buy computer products, or have a computer at </p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->

        <!--================Team Area =================-->
        <section class="team_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Energetic Team Members</h2>
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
        		</div>
        		<div class="row team_inner">
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="assets/img/team/team-1.jpg" alt="">
        						<div class="hover">
        							<p>This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an</p>
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Ethel Davis</h4>
        						<p>Managing Director (Sales)</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="assets/img/team/team-2.jpg" alt="">
        						<div class="hover">
        							<p>This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an</p>
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Rodney Cooper</h4>
        						<p>Creative Art Director (Project)</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="assets/img/team/team-3.jpg" alt="">
        						<div class="hover">
        							<p>This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an</p>
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Dora Walker</h4>
        						<p>Senior Core Developer</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="assets/img/team/team-4.jpg" alt="">
        						<div class="hover">
        							<p>This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an</p>
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Lena Keller</h4>
        						<p>Creative Content Developer</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Team Area =================-->

        
